.galleryThumbnail {
  float: left;
  padding: 20px;
}
a.galleryThumbnailFrame {
  display: block;
  text-align: center;
  vertical-align: middle;
}
.galleryThumbnailFrame img {
  border: none;
}
.galleryNavigation {
  clear: both;
  text-align: center;
}
